<div class="container">
  <div class="sidebar">
    <div class="collapse-list">
      <input id="friends" type="checkbox" />
      <label for="friends">
        <span>Friends</span>
        <span>Friends</span>
      </label>
      <div class="collapse-list-items">
        <ul>
          <li>danny129</li>
          <li>archie54</li>
          <li>xXxsn1p3rxXx</li>
        </ul>
      </div>
    </div>
    <div class="collapse-list">
      <input id="online" type="checkbox" />
      <label for="online">
        <span>Online</span>
        <span>Online</span>
      </label>
      <div class="collapse-list-items">
        <ul>
          <li>danny129</li>
          <li>tex54234</li>
          <li>fortniteman</li>
          <li>scython</li>
          <li>borkinstein</li>
          <li>donatellojr4</li>
          <li>sexmachine10101</li>
          <li>8008lover</li>
          <li>bigd28</li>
          <li>smalld52</li>
          <li>carleyraeman</li>
          <li>welovecheese18</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="message-display">
    <div class="tab-container">
      <div class="tab">
        <div class="online"></div>
        <h1 class="tab-name">
          Tab 1
        </h1>
        <button class="close-tab">x</button>
      </div>
      <div class="tab">
        <div class="online"></div>
        <h1 class="tab-name">
          Tab 2
        </h1>
        <button class="close-tab">x</button>
      </div>
      <div class="tab">
        <div class="online"></div>
        <h1 class="tab-name">
          Tab 3
        </h1>
        <button class="close-tab">x</button>
      </div>
    </div>

    <div class="message-container">
      <div class="message">
        <div class="sent">
          <p class="sent-message">
            Postscutella Mills dacelonine geotectology pyramidlike mechanism
            polyhedrals sporangiform assess edingtonite new-year Bebington
            paramnesia deputize overinsistencies abdominalia isotypes
            right-brained arrestingly Dolly classicise bonny-clabber ripe-grown
            geohydrologic Ferreira head-shaking Tristichaceae sarcodic
            nontradition abysses defis hypercorrection subperiod.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="recieved">
          <p class="recieved-message">
            Wit-assailing sheety stonefish rectangular leggings four-toes VTC
            fragrancy autobasidiomycetous stakeout fascinating housemates
            amphigony snugnesses depersonize cursives becroak anion odorizer
            corporas self-murdered dements tryptogen woe-infirmed antimacassars
            contemner monologues attracted softly insouciantly Nela lapidific
            bottle-capping mesothet Waldman sargos emphaticalness son's
            rearrangement coloslossi crowds venalization planolindrical.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="sent">
          <p class="sent-message">
            Nonpainter puttyhead cyclocephaly Lundy disentailment leafcup
            hermitic thoriums verse logicians snowmobilers cripe tubilingual
            multiaxially Bloomfieldian young-manhood zitherists nonponderous
            thimblemaking tauted.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="recieved">
          <p class="recieved-message">
            Blueleg postdates deliver assistanted boroglycerate onomatopoieses
            uninwoven cecidologist twankingly nonhallucinatory altininck
            anhydridization unitive foulmouthed sheepberry bibliothecarian
            hillfort cross-question misposition repulsivenesses eglateres
            purposivist swallowlike ratiocinator unselectiveness birdberry
            pre-expand berseems lowing hued tirled repairable semisporting
            Auchenia overhate redeemership penthoused Modulidae defended
            coservant anetiological.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="recieved">
          <p class="recieved-message">
            Photodissociative agric Monodelphia antefixal insubstantially
            humpbacked cholophaein wool-packing Halie unabnegated.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="recieved">
          <p class="recieved-message">
            Mismenstruation JSN pedunculi chattah outrail steelworks tamasic
            immethodic expilation chicken-breasted reveto mackintoshes blackband
            Trill pams battologizing tetanic altaltissimo second-floor pouffed
            peining pontianac overcasualness.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="recieved">
          <p class="recieved-message">
            Partier Tessler LHS loros crackmans discommodate Munin inthroned
            round-horned Paul Hamersville Lilesville sulfate accommodating
            destructional cooperative once-born pylorodilator unshredded
            overcleverness rettory parmeliaceous Briseus hand-printing Aurelio
            out-migrate Rhody zincite joskin Heritiera inclinableness grating
            kanari gravure.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="sent">
          <p class="sent-message">
            Overdoubt Lapeirousia farseer woader tabernacle's proscapula
            helleboric bilch nonexpanding nonillustratively.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="recieved">
          <p class="recieved-message">
            Spiketail wagga body-snatching fibrous feeded.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="recieved">
          <p class="recieved-message">
            Wirer Luffa skintle idolized good-natured Stonybrook skippery roundy
            cuprosilicon unpropitiable hemibathybian superinfinitely intraspinal
            half-importantly rudimentary conceivers bartree initialization
            before-warned overdemandingly divination dudeens fig. moldwarps
            nonliterate internalized peremption unpacker antiauxin meadowlark
            guilty-cup isotopically unworkableness unbraided uncalculably
            self-sufficiency puntal multicycle codicology homocreosol cable-laid
            pantoon costumey Dodds nondefensive skirmishes prosaically
            prerequisition scuzzy.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="recieved">
          <p class="recieved-message">
            Conusant cosymmedian blade-point hippogryph Ophidiobatrachia
            phraseogram musket ourebis stomium psychomonism unswallowable
            geniculately yoe intrafistular non-joinder poussette.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="recieved">
          <p class="recieved-message">
            Zurek picowatt Frisian foreshowing soldat orchestra Middlebass meute
            blini eatage carburised navicella chondrotomy Mullidae peacenik
            returf uppent Mont Lab. logometrical mesopterygial unsummerlike
            Okeechobee non-noble Rhynchocephalia semiduplex snoop
            splenectomizing miscorrecting coalized regranting self-taxation
            nonunited reidentification underfed sentimentalization
            quasi-skillful renormalizing.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="recieved">
          <p class="recieved-message">
            Unassistant youthlikeness hyalescent Sandemanism babool lobs
            otherdom slammock Autobasisii unovercomable minicam prelexical
            annihilate Messing solemnest oneiroscopy periodide epilepsies
            crasher noncohesion pseudo-Assyrian sinusoid coronets invalided
            deuteride sanguinicolous alkalify pregrade Flemish-coil sinecural
            Connacht nonappendence desipiency anticularia self-abnegating dretch
            semi-inertness superobedience chabazite endometrium edentulous
            glyptics asseour Fifeshire plaices shipmatish lassies Rosminianism.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="sent">
          <p class="sent-message">
            Twenty-mark macrandrous conj cod-smack decentralist BIM Faruq
            unjusticiable stipendiaries bradycrotic routous Canacee wide-patched
            uncooperating corneous Ustilaginales Alcis orchard's neologic
            anthemwise particlecelerator Manchus bishopdom dreamwise
            white-frilled Barabbas coscinomancy hawcuaite divinable
            nonactionable chitarra summitries diabolonian kartometer Ipava
            Manhasset sturdily musculoelastic paparchical Dravido-munda
            half-bred polemical permeant chaparro grandsons skittled.
          </p>
        </div>
      </div>
      <div class="message">
        <div class="sent">
          <p class="sent-message">
            Seven-tined stamphead tutorhood tropia frankest roadfellow spoonsful
            headstalls Bab Stenopelmatidae.
          </p>
        </div>
      </div>
    </div>
    <div class="input-container">
      <textarea rows="4" cols="125"></textarea>
      <button>Send</button>
    </div>
  </div>
</div>
